<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>746584406550-9jijbt9u5d267i4bsij0mcombrim9mba.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.746584406550-9jijbt9u5d267i4bsij0mcombrim9mba</string>
	<key>API_KEY</key>
	<string>AIzaSyCm796kzX4XbgB4PL5qGTfN48Rax5poFtg</string>
	<key>GCM_SENDER_ID</key>
	<string>746584406550</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.poggero.SunsetWorkout</string>
	<key>PROJECT_ID</key>
	<string>sunset-workout</string>
	<key>STORAGE_BUCKET</key>
	<string>sunset-workout.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false/>
	<key>IS_ANALYTICS_ENABLED</key>
	<true/>
	<key>IS_APPINVITE_ENABLED</key>
	<true/>
	<key>IS_GCM_ENABLED</key>
	<true/>
	<key>IS_SIGNIN_ENABLED</key>
	<true/>
	<key>GOOGLE_APP_ID</key>
	<string>1:746584406550:ios:312cc81225da86b5711337</string>
</dict>
</plist>
